In [1]:
import kagglehub
import pandas as pd

import plotly.express as px

from lux.vis.Vis import Vis

# Set this variable to determine the location of the dataset download: KAGGLEHUB_CACHE

# Download latest version of the main dataset.
path = kagglehub.dataset_download('kalacheva/london-bike-share-usage-dataset')

print('Path to dataset files:', path)

df = pd.read_csv(
    './datasets/kalacheva/london-bike-share-usage-dataset/versions/1/LondonBikeJourneyAug2023.csv'
)

# Verify the data read was successful.
print(df)
print(len(df['Start station'].unique()))

# Create a new df which contains a list of all unique trips (origin-destination pairs) and the quantity counts for each.
df_unique_od = (
    df.groupby(['Start station', 'End station'])
    .size()
    .reset_index()
    .rename(columns={0: 'count'})
)

Path to dataset files: C:\Users\Admin\.cache\kagglehub\datasets\kalacheva\london-bike-share-usage-dataset\versions\1
           Number       Start date  Start station number  \
0       132825189    8/1/2023 0:00                  1190
1       132825190    8/1/2023 0:00                  1190
2       132825191    8/1/2023 0:00                   983
3       132825192    8/1/2023 0:01                  3479
4       132825193    8/1/2023 0:01                  1219
...           ...              ...                   ...
776522  133624570  8/31/2023 23:59                   988
776523  133624571  8/31/2023 23:59                  2660
776524  133624572  8/31/2023 23:59                200190
776525  133624573  8/31/2023 23:59                   959
776526  133624569  8/31/2023 23:59                200163

                                Start station       End date  \
0       Kennington Lane Rail Bridge, Vauxhall  8/1/2023 0:17
1       Kennington Lane Rail Bridge, Vauxhall  8/1/2023 0:17
2                         Euston Road, Euston  8/1/2023 0:11
3         Old Brompton Road, South Kensington  8/1/2023 0:12
4                       Lower Marsh, Waterloo  8/1/2023 0:17
...                                       ...            ...
776522       Great Russell Street, Bloomsbury  9/1/2023 0:21
776523                     Frith Street, Soho  9/1/2023 0:10
776524         Queen's Circus, Battersea Park  9/1/2023 0:13
776525                Milroy Walk, South Bank  9/1/2023 0:06
776526            Jubilee Plaza, Canary Wharf  9/1/2023 0:06

        End station number                                  End station  \
0                     1059                  Albert Embankment, Vauxhall
1                     1059                  Albert Embankment, Vauxhall
2                     3500                   Baldwin Street, St. Luke's
3                     1140                      Grosvenor Road, Pimlico
4                   200056                      Vauxhall Walk, Vauxhall
...                    ...                                          ...
776522              200071                        Hoxton Street, Hoxton
776523                3496               St Mary's Hospital, Paddington
776524                3435  Gloucester Road (Central), South Kensington
776525                1142                    Tooley Street, Bermondsey
776526              200123                       Burdett Road, Mile End

        Bike number Bike model Total duration  Total duration (ms)
0             23715    CLASSIC        16m 46s              1006663
1             41267    CLASSIC        16m 47s              1007128
2             53180    CLASSIC         11m 6s               666395
3             53431    CLASSIC        11m 53s               713059
4             54758    CLASSIC         16m 3s               963786
...             ...        ...            ...                  ...
776522        21149    CLASSIC         22m 0s              1320884
776523        59065    CLASSIC         11m 2s               662204
776524        53860    CLASSIC        13m 38s               818554
776525        56206    CLASSIC          7m 0s               420132
776526        53365    CLASSIC         7m 17s               437768

[776527 rows x 11 columns]
800

In [2]:
# Take a precursory glance at all trips which only appear once, twice, etc up to 10, assuming a quick drop-off.
# The results are noted in commas following for quick reference, do not assume these are unchanged.
print(df_unique_od)
print('1 trip occurrences: ', df_unique_od['count'].value_counts().get(1))  # 76943
print('2 trip occurrences: ', df_unique_od['count'].value_counts().get(2))  # 36612
print('3 trip occurrences: ', df_unique_od['count'].value_counts().get(3))  # 20516
print('4 trip occurrences: ', df_unique_od['count'].value_counts().get(4))  # 13231
print('5 trip occurrences: ', df_unique_od['count'].value_counts().get(5))  # 9195
print('6 trip occurrences: ', df_unique_od['count'].value_counts().get(6))  # 6403
print('7 trip occurrences: ', df_unique_od['count'].value_counts().get(7))  # 4907
print('8 trip occurrences: ', df_unique_od['count'].value_counts().get(8))  # 3871
print('9 trip occurrences: ', df_unique_od['count'].value_counts().get(9))  # 2988
print('10 trip occurrences: ', df_unique_od['count'].value_counts().get(10))  # 2439
# Total <= 10 trips: 177105
# Total > 10 trips: 191630 - 177105 = 14525

# Column headers reference:
# Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)

# Take the largest number of repeat trips for reference (York Way, KX).
print('Max repeat values: ', df_unique_od.max())

                            Start station                        End station  \
0       Abbey Orchard Street, Westminster  Abbey Orchard Street, Westminster
1       Abbey Orchard Street, Westminster        Abingdon Green, Westminster
2       Abbey Orchard Street, Westminster        Albert Embankment, Vauxhall
3       Abbey Orchard Street, Westminster             Albert Gate, Hyde Park
4       Abbey Orchard Street, Westminster           Albert Square, Stockwell
...                                   ...                                ...
191625              York Way, Kings Cross            Whitehall Place, Strand
191626              York Way, Kings Cross          Woodstock Street, Mayfair
191627              York Way, Kings Cross         Worship Street, Shoreditch
191628              York Way, Kings Cross               Wren Street, Holborn
191629              York Way, Kings Cross              York Way, Kings Cross

        count
0          27
1           2
2           2
3           5
4           3
...       ...
191625      4
191626      1
191627      1
191628      1
191629     33

[191630 rows x 3 columns]
1 trip occurrences:  76943
2 trip occurrences:  36612
3 trip occurrences:  20516
4 trip occurrences:  13231
5 trip occurrences:  9195
6 trip occurrences:  6403
7 trip occurrences:  4907
8 trip occurrences:  3871
9 trip occurrences:  2988
10 trip occurrences:  2439
Max repeat values:  Start station    York Way, Kings Cross
End station      York Way, Kings Cross
count                             2966
dtype: object

In [3]:
kx = 'York Way, Kings Cross'

# Find a subset of data matching YW, Kings Cross as a start station. This will for the basis of later queries examining the validity of this subset.
print('All from KX: ')
print(df.loc[df['Start station'] == kx])

# We assume that trips under 60 seconds are potential "false starts". Select how many fall into this category.
print('All from KX under 1 minute: ')
print(
    df.loc[df['Start station'] == kx]['Total duration (ms)']
    .apply(lambda x: x < 60000)
    .sum()
)

# Given very few are potential "false starts", we must assume these are circular trips.
# How many unique OD trips are circular?
print('Unique Start station and End station are the same: ')
print(
    df_unique_od.loc[
        df_unique_od['Start station'] == df_unique_od['End station']
    ].reset_index()
)

# How many trips are circular in the entire dataset?
print('Full DF Start station and End station are the same: ')
print(df.loc[df['Start station'] == df['End station']].reset_index())

# Of this, how many are potential "false starts"?
print('Full DF Start station and End station are the same and less than 60 seconds: ')
print(
    df.loc[df['Start station'] == df['End station']]['Total duration (ms)']
    .apply(lambda x: x < 60000)
    .sum()
)

All from KX:
           Number       Start date  Start station number  \
542     132825746    8/1/2023 5:43                300235
987     132826192    8/1/2023 6:36                300235
1068    132826274    8/1/2023 6:41                300235
3418    132828670    8/1/2023 8:00                300235
3727    132828991    8/1/2023 8:07                300235
...           ...              ...                   ...
768763  133616580  8/31/2023 17:54                300235
769168  133616993  8/31/2023 18:02                300235
769650  133617484  8/31/2023 18:11                300235
772541  133620434  8/31/2023 19:23                300235
774603  133622557  8/31/2023 21:00                300235

                Start station         End date  End station number  \
542     York Way, Kings Cross    8/1/2023 5:51                1156
987     York Way, Kings Cross    8/1/2023 6:48                3495
1068    York Way, Kings Cross    8/1/2023 6:53                1092
3418    York Way, Kings Cross    8/1/2023 8:14              200094
3727    York Way, Kings Cross    8/1/2023 8:27              300208
...                       ...              ...                 ...
768763  York Way, Kings Cross  8/31/2023 18:02              200016
769168  York Way, Kings Cross  8/31/2023 18:06              300243
769650  York Way, Kings Cross  8/31/2023 18:22                1079
772541  York Way, Kings Cross  8/31/2023 19:56                1093
774603  York Way, Kings Cross  8/31/2023 21:08              200118

                          End station  Bike number  Bike model Total duration  \
542           Bedford Way, Bloomsbury        57468     CLASSIC         7m 29s
987           Wells Street, Fitzrovia        11656     CLASSIC         12m 9s
1068             Moorfields, Moorgate        60335  PBSC_EBIKE        11m 51s
3418        St. Bride Street, Holborn        60497  PBSC_EBIKE        13m 21s
3727       Lavington Street, Bankside        21448     CLASSIC        19m 44s
...                               ...          ...         ...            ...
768763  Castlehaven Road, Camden Town        50867     CLASSIC         7m 57s
769168       Good's Way, King's Cross        57724     CLASSIC         4m 20s
769650      Endsleigh Gardens, Euston        30178     CLASSIC        10m 35s
772541   Kennington Cross, Kennington        53634     CLASSIC         33m 8s
774603           Parkway, Camden Town        54843     CLASSIC         8m 10s

        Total duration (ms)
542                  449042
987                  729784
1068                 711064
3418                 801433
3727                1184724
...                     ...
768763               477486
769168               260472
769650               635495
772541              1988306
774603               490528

[761 rows x 11 columns]
All from KX under 1 minute:
2
Unique Start station and End station are the same:
      index                      Start station  \
0         0  Abbey Orchard Street, Westminster
1       360      Abbotsbury Road, Holland Park
2       473    Aberdeen Place, St. John's Wood
3       667           Aberfeldy Street, Poplar
4       755        Abingdon Green, Westminster
..      ...                                ...
791  190749               Wren Street, Holborn
792  191066          Wright's Lane, Kensington
793  191192              Wynne Road, Stockwell
794  191415           York Hall, Bethnal Green
795  191629              York Way, Kings Cross

                           End station  count
0    Abbey Orchard Street, Westminster     27
1        Abbotsbury Road, Holland Park     14
2      Aberdeen Place, St. John's Wood     16
3             Aberfeldy Street, Poplar     60
4          Abingdon Green, Westminster     33
..                                 ...    ...
791               Wren Street, Holborn     14
792          Wright's Lane, Kensington     53
793              Wynne Road, Stockwell     12
794           York Hall, Bethnal Green     28
795              York Way, Kings Cross     33

[796 rows x 4 columns]
Full DF Start station and End station are the same:
        index     Number       Start date  Start station number  \
0          18  132825207    8/1/2023 0:05                200215
1          33  132825225    8/1/2023 0:09                  1020
2          51  132825243    8/1/2023 0:14                300079
3          53  132825245    8/1/2023 0:14                  1108
4          70  132825260    8/1/2023 0:22                300021
...       ...        ...              ...                   ...
39785  776486  133624535  8/31/2023 23:53                  1151
39786  776498  133624545  8/31/2023 23:54                  1062
39787  776504  133624548  8/31/2023 23:55                  1062
39788  776507  133624554  8/31/2023 23:56                200195
39789  776514  133624562  8/31/2023 23:57                300252

                              Start station         End date  \
0               Greyhound Road, Hammersmith    8/1/2023 0:13
1               Leonard Circus , Shoreditch    8/1/2023 0:26
2                 London Street, Paddington    8/1/2023 0:23
3              North Wharf Road, Paddington    8/1/2023 0:50
4      Podium, Queen Elizabeth Olympic Park    8/1/2023 0:37
...                                     ...              ...
39785               Whitehall Place, Strand  8/31/2023 23:57
39786                Braham Street, Aldgate    9/1/2023 0:20
39787                Braham Street, Aldgate    9/1/2023 0:20
39788         St Martins Close, Camden Town    9/1/2023 0:09
39789     Canada Water Station, Rotherhithe   9/1/2023 13:32

       End station number                           End station  Bike number  \
0                  200215           Greyhound Road, Hammersmith        21222
1                    1020           Leonard Circus , Shoreditch        55324
2                  300079             London Street, Paddington        60612
3                    1108          North Wharf Road, Paddington        53790
4                  300021  Podium, Queen Elizabeth Olympic Park        52777
...                   ...                                   ...          ...
39785                1151               Whitehall Place, Strand        23119
39786                1062                Braham Street, Aldgate        40332
39787                1062                Braham Street, Aldgate        30713
39788              200195         St Martins Close, Camden Town        53293
39789              300252     Canada Water Station, Rotherhithe        56854

       Bike model Total duration  Total duration (ms)
0         CLASSIC          8m 3s               483259
1         CLASSIC        17m 25s              1045195
2      PBSC_EBIKE         9m 11s               551569
3         CLASSIC        36m 24s              2184240
4         CLASSIC        15m 43s               943350
...           ...            ...                  ...
39785     CLASSIC         4m 23s               263052
39786     CLASSIC        25m 48s              1548335
39787     CLASSIC        25m 35s              1535701
39788     CLASSIC        13m 18s               798708
39789     CLASSIC    13h 34m 32s             48872637

[39790 rows x 12 columns]
Full DF Start station and End station are the same and less than 60 seconds:
4660

In [ ]:
# Create a simple scatter plot of the unique OR trip df.
x = []
y = []

# Given the maximum value from `df_unique_od.max()` set the max x-axis of the chart to 3000. Ignore 0 as there cannot be 0 trips.
for i in range(1, 3000):
    # Loop over the trip quantity, query how many counts there are in the unique OD set.
    x.append(i)
    y_val = int(df_unique_od['count'].value_counts().get(i, 0))
    y.append(y_val)

In [ ]:
# Given the steep x-axis drop off, we'll cut the graph at 145 to focus on the lower end.
cut_off = 145

x_left = x[:cut_off]
x_right = x[cut_off:]
y_left = y[:cut_off]
y_right = y[cut_off:]

# Create a table of the outliers for interest.
outliers = []

for idx, x_val in enumerate(x_right):
    if y_right[idx] != 0:
        outliers.append((x_val, y_right[idx]))

print(f'outliers ({len(outliers)}): ', outliers)

df_outliers = pd.DataFrame(
    outliers, columns=['Number of repetitions', 'Quantity of trips']
)

print('Outliers df:')
print(df_outliers)

df_outliers.to_csv('unique-od-outliers-145-cutoff.csv', index=False)

# Show the graph
fig = px.scatter(
    x=x_left,
    y=y_left,
    title='Frequency of Repeat Trips',
    labels={'x': 'Number of repeat trips', 'y': 'Quantity of trips'},
)
fig.show()

In [ ]:
Vis(['Start station=Kennington Lane Rail Bridge, Vauxhall', 'Bike number'], df)

# https://nominatim.openstreetmap.org/search?q=Glasgow&format=json&countrycodes=gb
# https://nominatim.openstreetmap.org/search?q=Kennington%20Lane%20Rail%20Bridge,%20Vauxhall&format=json&countrycodes=gb
# Kennington Lane Rail Bridge, Vauxhall
# https://api.digital.tfl.gov.uk/BikePoint/Search?query=Kennington%20Lane%20Rail%20Bridge%2C%20Vauxhall

In [ ]:
plot2 = px.scatter(df, x='Start date', y='Total duration (ms)')
plot2.show()